/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}
